build/
dist/
nbproject/private/
*.class
.DS_Store
Thumbs.db
/tutorial6 - editor de textos/Editor/nbproject/private/
/tutorial7 - ventanas e imagenes/ventanas/nbproject/private/
/tutorial7 - ventanas e imagenes/PrO15-VisorCiutats/nbproject/private/
